/*Import fonts from Google Fonts: Webpage title = 'Krona One', Body text = 'Exo' */

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Krona+One&display=swap');

/*----------------------------------------------------------------------------------------------------------General rules*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
}

.company_name {
    font-family: 'Krona One', sans-serif;
}

/*------------------------------------------------Button styles*/

.button-border  {
    border-radius: 10px;
    border: 1px solid black;
    color: #fff;
}

.button-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.orange {
    background-color: #d64933;
}

.grey {
    background-color: #828a95;
    
}

.blue {
    background-color: #0077b6;
}

/*----------------------------------------------------------------------------------------------------------Header*/

header {
    background-color: #0077B6;
    height: 110px;
}

header h1 {
    color: #fff;
}

header img {
    max-height: 100px;
}

/*----------------------------------------------------------------------------------------------------------Search Form Section*/

#search-form {
    background-color: rgba(0, 0, 0, 0.08);
}

#club-search {
    border: 1px solid #828a95;
    border-radius: 10px;
    width: 33vw;
    min-width: 275px;
}
/*----------------------------------------------------------------------------------------------------------Footer*/

footer {
    background-color: #d64933;
    color: #fff;
    height: 110px;
}

#a_footer {
    color: inherit;
}

#a_footer:hover {
    color: inherit;
    font-weight: bold;
}

/*----------------------------------------------------------------------------------------------------------Section title here*/

/*------------------------------------------------Sub-section title here*/