/*Import fonts from Google Fonts: Webpage title = 'Krona One', Body text = 'Exo' */

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Krona+One&display=swap');

/*----------------------------------------------------------------------------------------------------------General rules*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    background-color: rgba(0, 0, 0, 0.05);
}

.company_name {
    font-family: 'Krona One', sans-serif;
}

/*------------------------------------------------Button styles*/

.button-border  {
    border-radius: 10px;
    border: 1px solid black;
    color: #fff;
}

.orange {
    background-color: #d64933;
}

.blue {
    background-color: #0077b6;
}

.button-border:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/*------------------------------------------------Section hidden*/

.hide {
    display: none;
}

/*----------------------------------------------------------------------------------------------------------Header*/

header {
    background-color: #0077B6;
    height: 110px;
}

header h1 {
    color: #fff;
}

header img {
    max-height: 100px;
}

/*----------------------------------------------------------------------------------------------------------Search Form Section*/

#club-search {
    border: 1px solid #828a95;
    border-radius: 10px;
    width: 33vw;
    min-width: 275px;
}

#search-string-message {
    color: #d64933;
    font-size: small;
    min-height: 20px;
}

/*----------------------------------------------------------------------------------------------------------Search Results Section*/

#search-results thead {
    background-color: #d64933;
    color: #fff;
}

.small-img {
    max-height: 40px;
}

.table-striped tbody tr:hover {
    background-color: #0077B6;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

/*----------------------------------------------------------------------------------------------------------Club Info Section*/

#club-card {
    background-color: #fff;
    border: 1px solid #828a95;
    border-radius: 10px;
}

/*----------------------------------------------------------------------------------------------------------Footer*/

footer {
    background-color: #d64933;
    color: #fff;
    height: 110px;
}

#a_footer {
    color: inherit;
}

#a_footer:hover {
    color: inherit;
    font-weight: bold;
}

/*----------------------------------------------------------------------------------------------------------Report Bug Modal*/

/* The below CSS is sourced from: https://www.w3schools.com/howto/howto_css_modals.asp */
#report-bug-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* The below CSS is sourced from: https://www.w3schools.com/howto/howto_css_modals.asp */
#report-bug-modal-content {
    background-color: #fff;
    margin: 10% auto; /* 15% from the top and centered */
    border: 1px solid #000;
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
}

#modal-header {
    background-color: #0077B6;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

#close-modal-icon {
    font-size: x-large;
}

/*----------------------------------------------------------------------------------------------------------Section title here*/

/*------------------------------------------------Sub-section title here*/